.activity-logs-container{
    height: calc(100% - 450px);
  }
  .logs{
    overflow-y: hidden;
  }
  .logs h3{
    height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .logs .logs-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
  }
  .logs .log-body{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .logs .log-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .logs .log-meta{
    display: flex;
    gap: 20px;
    
  }
  .logs .log-meta p{
    color: rgba(255, 255, 255, 0.459);
  }

  .history-container{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 100px;
  }
  

.logDay{
    font-weight: 500;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.425);
    margin-top: 10px;
}











  .view-log{
    width: 100vw;
    z-index: 15;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #1A1A1B;
    border-top: 1px solid rgba(211, 211, 211, 0.1);
    padding: 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
  }
  
  .view-log-header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .view-log .delete-log-button{
    margin-top: auto;
    margin-bottom: 100px;
   
  }
  .view-log .food-log-info,
  .view-log .goal-log-info,
  .view-log .activity-log-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    gap: 10px;
    margin-bottom: 25px;
  }
  .view-log .info-block{
    width: 30%;
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #111214;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  