.logs-history{
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow: hidden;
  padding-top: 20px;
}
.logs-history .deleteLogButton{
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: rgb(226, 78, 78);
  margin-top: auto;
}
.time-interval-buttons-container{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.time-interval-buttons-container button{
  height: 40px;
  padding: 0 10px;
  background-color: transparent;
  border: 1px solid var(--general-border);
  border-radius: 25px;
  color: var(--text-color);
}
.time-interval-buttons-container .selected-button{
  background-color: var(--toggle-button-active);
  border: 1px solid var(--general-border);
  color: black;
}
.logs-container{
  width: 100%;
  height: 100%;
  max-width: calc(100vw - 30px);
  background-color: var(--secondary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 0;
}
.logs-container .noLogsMessage{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-body{
  height: 40px;
  min-height: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 20px 60px 1fr 100px;
  gap: 10px;
  align-items: center;
  padding:0 10px;
}
.log-icon{
  width: 15px;
  height: 15px;
}
.log-time{
  width: 60px;
  display: flex;
  align-items: center;
}
.log-value{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
}





  /* Day Selector */

  .day-selector{
    width: 100%;
    max-width: calc(100vw - 30px);
    height: 50px;
    
  }
  .day-selector-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    width: 100%;
    overflow: hidden;
  }
  .day-body{
    height: 50px;
    width: 40px;
    border-radius: 5px;
    background-color: var(--secondary);
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .day-body.selected-day{
    background-color: white;
  }
  .day-body.selected-day .day-name,
  .day-body.selected-day .day-number{
    color: black;
  }
  .toggle-buttons-container{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #111214;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
}
.toggle-button{
    width: calc(100% / 2);
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.selected-button{
    background-color: white;
    color: black;
}

/* Food Log */

.view-food-log{
  min-height: 300px;
  max-height: 350px;
  gap: 10px;
}
.view-food-log label{
  opacity: 0.5;
}
.view-exercise-log .timestamp{
  height: 30px;
}
.view-food-log .log-details{
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
}
.view-food-log .description{
  height: 80px;
}