.food-log-form{
    width: 100vw;
    height: calc(100vh - 75px);
    bottom: 75px;
    left: 0;
    position: fixed;
    z-index: 60;
    backdrop-filter: blur(10px);
}
.food-log-form .component-content{
    width: calc(100vw - 20px);
    height: 600px;
    position: absolute;
    background-color: var(--modal-bg);
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(211, 211, 211, 0.1);
    border-radius: 5px;
    z-index: 15;
    animation-name: foodLogSlideIn;
    animation-duration: 0.1s;
    padding: 10px 15px;
}
@keyframes foodLogSlideIn {
    0%{
        height: 0;
    }
    100%{
        height: 600px;
    }
}
.food-log-form .content{
    width: 100%;
    max-height: calc(100% - 100px);
}
.toggle-buttons-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #111214;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
}
.toggle-button{
    width: calc(100% / 2);
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.selected-button{
    background-color: white;
    color: black;
}
@media (min-width: 800px) {
    .food-log-form{
        width: 500px;
        left: 150px;
        height: 100vh;
        bottom: 0;
        overflow: hidden;
    }

}
@keyframes quickMenuAnimation {
    0%{
        height: 0;
    }
    100%{
        height: calc(100vh - 60px);
    }
}
.top-bar img{
    width: 30px;
    height: 30px;
    background-color: transparent;
}
.top-bar button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
.top-bar{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.half-input{
    width: calc(50% - 10px);
}
.name{
    width: 100% !important;
}
.main-info{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.log-screen{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.log-screen input,
.log-screen input,
.log-screen select,
.log-screen option{
    color: black;
    height: 40px;
    border-radius: 5px;
    border: transparent;
    background-color: var(--input-bg);
    color: gray;
    padding-left: 15px;
}
.log-food-btn{
    width: 150px;
    height: 50px;
    margin-top: auto;
    margin-bottom: 25px;
    margin-left: calc(50% - 75px);
}
.food-log-form .unitSelectorContainer{
    width: calc(50% - 10px);
    background-color: var(--input-bg);
}
h3{
    width: 100%;
}
.notes{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    align-items: center;
}
.notes textarea{
    height: 100px;
    border-radius: 5px;
    width: 100%;
    color: black;
    padding: 5px 10px;
}
.notes input{
    width: 100%;
}
option{
    color: black;
}
.includeInput{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    
}
.includeInput label{
    width: auto;
    font-size: 1.2rem;
    
}
.includeInput input{
    height: 25px !important;
    width: 25px !important;
}
.collapsed-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left{
    transform: rotateZ(180deg);
    transition: all 0.1s;
}
.down{
    transform: rotateZ(90deg);
    transition: all 0.1s;
}
