.smallGoal{
    width: calc(50% - 10px);
    height: 100px;
    background-color: var(--dashboard-module-background);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.smallGoal .pinButton img{
    height: 20px;
    width: 20px;
}
.smallGoal .pinButton{
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    flex-shrink: 0;
    position: absolute;
    right: 5px;
    top: 5px;
}
.smallGoal .goalTop{
    display: flex;
    align-items: center;
    gap: 10px;
}
.smallGoal .goalIcon{
    height: 20px;
    width: 20px;
}
.smallGoal .numberGoal{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
}
.smallGoal .targetGoal{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.smallGoal .booleanGoal{
    flex-grow: 1;
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}