.smallGoal{
    width: calc(50% - 10px);
    height: 100px;
    background-color: var(--dashboard-module-background);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.smallGoal .goalTop{
    display: flex;
    align-items: center;
    gap: 10px;
}
.smallGoal .goalIcon{
    height: 20px;
    width: 20px;
}
.smallGoal .numberGoal{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
}
.smallGoal .targetGoal{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.smallGoal .booleanGoal{
    flex-grow: 1;
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}