.edit-profile-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.edit-profile-form .inputs-container{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.edit-profile-form .inputs-container input{
    height: 40px;
    width: 100%;
    color: rgba(0, 0, 0, 0.521);
    padding-left: 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid transparent;

}
.edit-profile-form .goals-container fieldset,
.edit-profile-form .health-information-container fieldset{
    width: 45%;
}
.edit-profile-form .save-button{
    height: 50px;
}
.create-new-goal-container{
    height: 100px;
    display: flex;
    gap: 10px;
    position: relative;
    padding-left: 60px;
}
.create-new-goal-container .goal-inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    width: calc(100% - 60px);
    
    
}
.goal-inputs input{
    color: black;
}
.goal-inputs input{
    padding-left: 15px;
}
.create-new-goal-container button{
    height: 100%;
}