.library{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
@media (min-width: 767px) {
    .library{
        padding: 30px 25% !important; 
    }

}

.library-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.library .subtitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.library-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.library .item-body{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    text-decoration: none;
    
}
.library .item-body .item-info{
    height: 100%;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.library .item-info h4{
    width: 100%;
}
.library .item-info .item-description{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.library .item-description p{
    color: rgba(255, 255, 255, 0.6);
}
