.importScreen{
    display: grid;
    grid-template-rows: 60px 50px 50px 1fr 50px;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: calc(100vh - 75px);
    overflow: hidden;
}
.importScreen .fileInput{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    border: none;
}
.importScreen .viewButtons{
    width: 120px;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    border-radius: 5px;
}
.importScreen .viewContainer{
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.importScreen .menu{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 120px;
    gap: 10px;
    align-items: center;
}
.importScreen .viewButtons button{
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.importScreen .viewButtons button.selectedViewButton{
    background-color: white;
}
.importScreen .viewButtons button.selectedViewButton img{
    filter: invert(1);
}
.importScreen .viewButtons button img{
    width: 20px;
    height: 20px;
}

.importScreen .buttons{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 40px;
    gap: 20px;
}
.importScreen .buttons button{
    border-radius: 5px;
    background-color: var(--secondary);
    border-radius: 5px;
    border: none;
}









/* List Item */

.ListView{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}
.listItem{
    width: 100%;
    height: auto;
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 10px;
}
.listItem.selectedItem{
    background-color: #333333;
}
.listItem .info{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.listItem .meta{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}
.checkMarkIcon{
    width: 30px;
    height: 30px;
}

.metaString{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    flex: 1; 
}