.viewExercise{
    position: fixed;
    bottom: 75px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 75px);
    backdrop-filter: blur(25px);
}
@keyframes SlideUp{
    from{
        opacity: 0;
        bottom: -120%;
    }
    to{
        opacity: 1;
        bottom: 10px;
    }
}
.viewExercise .bg{
    position: absolute;
}
.viewExercise .currentCategory{
    height: 100%;
}
.viewExercise .content{
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    height: 100%;
    max-height: calc(100vh - 100px);
    border-radius: 5px;
    background-color: var(--modal-bg);
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    padding: 10px;
    animation: SlideUp 0.2s;
}
.viewExercise .header{
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    gap: 10px;
}
.viewExercise .header button{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.viewExercise .header button img{
    width: 30px;
    height: 30px;
}

.viewExercise .buttonsContainer{
    display: grid;
    grid-template-columns: 40px 40px 1fr;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px;
    background-color: var(--background);
    border-radius: 5px;
}
.viewExercise .buttonsContainer button{
    background-color: transparent;
    border: none;
}
.viewExercise .buttonsContainer img{
    width: 25px;
    height: 25px;
}
.viewExercise .startBtn{
    background-color: var(--accent-color) !important;
    height: 100%;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.switcher{
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    background-color: var(--secondary);
    border-radius: 5px;
}
.viewExercise .categoryBtn{
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
}
.viewExercise .categoryBtn.selectedCategoryBtn{
    background-color: var(--accent-color);
}




/* OVERVIEW */

.viewExercise .overview{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
}
.viewExercise .overview .tags,
.viewExercise .overview .muscles,
.viewExercise .overview .fields,
.viewExercise .overview .equipmentContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 100px;
    overflow-y: auto;
}
.overview .tagBody,
.overview .muscleBody,
.overview .fieldBody,
.overview .equipmentItem{
    height: 30px;
    padding: 0 10px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.overview .fieldBody .fieldBar,
.overview .equipmentItem .bar{
    height: 50%;
    width: 2px;
    background-color: rgba(225, 225, 225, 0.25);
    margin: 0 10px;
}

/* Equipment component */

.overview .equipmentAtt{
    display: flex;
    gap: 10px;
}

/* INSTRUCTIONS */

.viewExercise .instructions{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
}
.instructions .instructionsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 60vh;
}
.instructions .instructionsContainer .instruction{
    display: flex;
    background-color: var(--background);
    border-radius: 5px;
    padding: 5px 10px 5px 0;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}
.instructions .instruction b{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}