.view-exercise-log{
    width: calc(100% - 20px);
    height: 450px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: var(--modal-bg);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    padding: 0 10px;
}
.view-exercise-log .top{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.view-exercise-log .log-name{
    display: flex;
    align-items: center;
    gap: 15px;
}
.view-exercise-log .timestamp{
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    height: 30px;
}
.view-exercise-log .sectionIcon{
    width: 20px;
    height: 20px;
}
.view-exercise-log .tags,
.view-exercise-log .targetMuscles{
    width: 100%;
    min-height: 30px;
    max-height: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
}
.view-exercise-log .tag-body,
.view-exercise-log .muscle{
    height: 30px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    padding: 0 10px;
    flex-shrink: 0;
}

.view-exercise-log .sets{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 80px;
    max-height: 160px;
    flex-shrink: 0;
}
.view-exercise-log .deleteLogButton{
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(226, 78, 78);
    margin-top: auto;
    margin-bottom: 10px;
}
.view-exercise-log .set{
    width: 100%;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    align-items: center;
    gap: 10px;
    height: 40px;
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 0 10px;
}
.view-exercise-log .set .setNo{
    color: rgba(255, 255, 255, 0.411);
}
.view-exercise-log .set .setFields{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
    width: 100%;
}
.view-exercise-log .set img{
    margin-left: auto;
}