.createExercise {
    width: 100%;
    height: calc(100vh - 60px);
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: relative;
}
.createExercise form{
    width: 100%;
}
.createExercise .exerciseInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 230px;
}
.createExercise .inputGroup{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.createExercise .screenSwitcher{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    background-color: var(--toggle-button-background);
    align-self: center;;
}
.createExercise .submit {
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
}
.createExercise .screenSwitcher button{
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.createExercise .screenSwitcher button.selectedButton{
    background-color: var(--toggle-button-active);
    color: var(--toggle-button-active-text);
}
.createExercise form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}
.createExercise .screenContainer{
    width: 100%;
    height: calc(100% - 230px - 50px - 20px);
    overflow: hidden;
}
.createExercise .screen{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid red;
}
.addTagButton{
    width: 100%;
    height: 40px;
    background-color: var(--secondary);
    color: var(--button-text);
    border: 1px solid var(--general-border);
    border-radius: 5px;
    font-size: 1rem;
    flex-shrink: 0;
}
.createExercise .tagsContainer,
.createExercise .equipmentContainer{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 10px;
    flex: 1;
    max-height: calc(100% - 50px);
    background-color: var(--secondary);

}
.createExercise .addedEquipment{
    width: 100%;
    display: flex;
    padding: 0 10px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    border-radius: 5px;
    flex-shrink: 0;
}
.createExercise .equipmentContainer{
    flex-direction: column;
    flex-wrap: nowrap;
}
.twoInputs,
.timeInputs {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}
.timeInputs{
    grid-template-columns: 1fr 1fr;
}

label{
    color: var(--text);
    opacity: 0.5;
}