/*////////////////////*/
/* view exercise page */
/*////////////////////*/
.view-exercise{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
@media (min-width: 800px) {
    .view-exercise{
        grid-column: 2 / 4;
        padding: 20px 50px;
        width: 100%;
    }

}
.view-exercise .exercise-info{
    display: flex;
    width: 100%;
    height: calc(100vh - 140px);
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 5px;
}
.subtle-subtitle{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.342);
}
.view-exercise .info-block{
    width: calc(50% - 5px);
    display: flex;
    flex-direction: column;
    background-color: #1A1A1B;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
}
.view-exercise .workout-description{
    background-color: #1A1A1B;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.view-exercise .info-block .info-block-header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.view-exercise .info-block .info-block-header img{
    width: 15px;
    height: 15px;
}
.view-exercise .info-block .info-block-value{
   display: flex;
   align-items: center;
   padding-left: 10px;
}
.view-exercise .header a{
    position: absolute;
    right: 20px;
    top: 40px;
}
.view-exercise .field-body #field-name{
    width: 50%;
}
.view-exercise .field-body #field-target{
    width: 29%;
}
.view-exercise .field-body #field-unit{
    width: 30%;
}
.view-exercise .exercise-fields{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #1A1A1B;
    border-radius: 5px;
    padding: 10px;
}
.view-exercise .exercise-fields .fields-header{
    border-bottom:1px solid rgba(211, 211, 211, 0.212);
    padding-bottom: 5px;
}
.view-exercise .exercise-fields .field-body{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.view-exercise .workouts-container{
    gap: 15px;
}
.view-exercise .item-body{
    display: flex;
}
.view-exercise .item-body .item-button{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-exercise .add-item{
    background-color: transparent;
    border: 1px solid transparent;
    height: 40px;
    width: 40px;
}
.view-exercise .add-item img{
    height: 100%;
    width: 100%;
}
.view-exercise .header button{
    width: 50px;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 30px;
    right: 20px;
}
.tag-color{
    height: 100%;
    width: 5px;
}
.tags-block{
    width: 100% !important;
}
.tag-body{
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    gap: 10px;
    background-color: #111214;
    padding-right: 10px;
}
.info-block-value.tags{
    gap: 10px;
}
.view-exercise .item-body .item-info{
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.view-exercise .item-body .item-info .item-description{
    display: flex;
    gap: 10px;
    align-items: center;
}
.danger-button{
    background-color: #F44336;
    border-radius: 5px;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: 1.1rem;
    width: 50%;
    height: 50px;
    margin-top: auto;
    margin-bottom: 25px;
}
.view-exercise .browse-button{
    gap: 10px;
}
.view-workout-buttons{
    width: 100%;
    background-color: #3b3b3b;
    height: 70px;
    position: sticky;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    border-radius: 10px;
}
.view-workout-buttons button,
.start-workout-button{
    border-radius: 5px;
}
.start-workout-button{
    margin-left: auto;
    width: auto;
    flex-grow: 1;
}

.buttons-container{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.view-workout-menu-buttons{
    width: 200px;
    height: 50px;
    display: flex;
    background-color: #111214;
    border-radius: 5px;
    

}
.view-workout-menu-button{
    width: calc(50% - 0px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 1.1rem;
}



.view-workout-buttons .divider{
    height: 75%;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 3px;
}


/*///////////////////////////*/
/* Create/Edit exercise page */
/*///////////////////////////*/


fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.create-exercise-page .exercise-info{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 0.1s;
    overflow: hidden;
}
.small-inputs{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 5px;
}
.exercise-info h3{
    height: 40px;
    min-height: 40px;
    width: 100%;
}
.exercise-info.extended-info{
    height: 230px;
    transition: all 0.1s;
}
.create-exercise-page .header button{
    position: absolute;
    top: 30px;
    right: 10px;
    width: 100px;
    height: 40px;
}
.create-exercise-page form{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.create-exercise-page form input,
.create-exercise-page form select,
.create-exercise-page form option{
    height: 40px;
    width: 100%;
    background-color: white;
    color: rgba(0, 0, 0, 0.534);
    padding-left: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.create-exercise-page .fields-container{
    height: auto;
    margin-bottom: 25px;
    padding: 15px 0;
}
.create-exercise-page .field-inputs{
    display: flex;
    gap: 15px;
    align-items: center;
}
.create-exercise-page .field-container{
    display: flex;
    gap: 10px;
    height: 75px;
    align-items: center;
}
.create-exercise-page .field-body{
    display: flex;
    gap: 10px;
    align-items: center;
}
.create-exercise-page .field-body h4{
    margin-right: auto;
}
.create-exercise-page .field-inputs input{
    width: 100px;
}

.exercise-screens-buttons-container{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: #3b3b3b;
    border-radius: 10px;
    padding: 4px;
    margin: 10px 0;
}
.exercise-screens-buttons-container button{
    height: 42px;
    width: auto;
    flex-grow: 1;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 6px;
}
.exercise-screens-buttons-container button.show-screen{
    background-color: white;
    color: black;
}
.exercise-screens-container{
    width: 100%;
    overflow-x: hidden;
    display: flex;
}
.exercise-screens-container .screen{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
