.log{
    width: 100%;
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 10px;
}
.three-inputs{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
fieldset{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: fit-content;
}
.half-input{
    width: calc(50% - 5px);
}
input,
textarea{
    height: 40px;
    width: 100%;
    background-color: var(--input-bg);
    border: 1px solid rgba(65, 65, 65, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.submit-button{
    height: 50px;
    border: 1px solid rgba(211, 211, 211, 0.1);
    background-color: #EB5928;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-bottom: 20px;
}