.view-workout-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
@media (min-width: 767px) {
    .view-workout-page{
        padding: 30px 25% !important; 
    }
    .create-workout-page{
        padding: 30px 25% 100px 25% !important; 
    }
    .workout-page{
        padding: 30px 25% !important; 
    }
    
}
.view-workout-page .header button{
    width: 50px;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 30px;
    right: 20px;
}
.view-workout-page .header a{
    position: absolute;
    right: 20px;
    top: 40px;
}
.view-workout-page .workout-info{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}
.subtle-subtitle{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.342);
}
.view-workout-page .info-block{
    width: calc(50% - 5px);
    display: flex;
    flex-direction: column;
    background-color: #1A1A1B;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
}
.view-workout-page .workout-description{
    background-color: #1A1A1B;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.view-workout-page .info-block .info-block-header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.view-workout-page .info-block .info-block-value{
   display: flex;
   align-items: center;
   padding-left: 10px;
}
.view-workout-page .workout-exercises{
    height: calc(50% - 40px);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
.view-workout-page .workout-exercises .exercise-name{
    display: flex;
}
.view-workout-page .workout-exercises .exercise-body{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;

}
.view-workout-page .workout-exercises .exercise-body .exercise-name{
    margin-right: auto;
}
.view-workout-page .workout-exercises .exercise-body .exercise-index{
    width: 30px;
}
.view-workout-page .orange-button{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 25px;
    bottom: 100px;
}
.view-workout-page .orange-button img{
    width: 40px;
    height: 40px;
}





/* Create/Edit Workout Page */


.create-workout-page{
    min-height: 100vh;
}
.create-workout-page form{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    padding-bottom: 100px;
}
.create-workout-page form input,
.create-workout-page form select,
.create-workout-page form option{
    height: 40px;
    width: 100%;
    background-color: white;
    color: rgba(0, 0, 0, 0.534);
    padding-left: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
}
.create-workout-page .exercise-creator-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.create-workout-page .exercise-creator{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #1A1A1B;
    padding: 20px 15px;
}
.create-workout-page .exercises-container{
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 25px;
    padding: 15px 0;
}
.create-workout-page .exercise-creator-inputs #exerciseName{
    grid-column: 1 / 3;
}

.create-workout-page .exercise-body{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 5px;
}
.create-workout-page .exercise-body .exercise-info{
    width: calc(100% - 75px);
    height: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.create-workout-page .exercise-body .exercise-info .exercise-tags{
    display: flex;
    gap: 10px;
    width: 100%;
}
.create-workout-page .exercise-body .exercise-info .exercise-tags p{
    color: rgba(255, 255, 255, 0.329);
}
.create-workout-page .exercise-body .exercise-info .exercise-meta p{
    color: rgba(255, 255, 255, 0.425);
}
.create-workout-page .exercise-body .exercise-sets{
    width: 75px;
}
.create-workout-page .selected-tags{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
}
.create-workout-page .tag-body{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: #1A1A1B;
}
.create-workout-page .tag-color{
    height: 100%;
    width: 5px;
}
.create-workout-page img{
    margin-left: auto;
}
.create-workout-page .source-buttons{
    width: 150px;
    height: 30px;
    background-color: #1A1A1B;
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
    margin: 15px 0 10px 0;
}
.create-workout-page .source-buttons button{
    width: 75px;
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
}
.create-workout-page .source-buttons button.selected-button{
    background-color: white;
    color: black;
}
.create-workout-page .submit-button{
    margin-top: auto;
    margin-bottom: 25px;
    margin-left: calc(50% - 75px);
}
