

/* Create/Edit Workout Page */


.create-workout-page{
    min-height: 100vh;
}
.create-workout-page form{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    padding-bottom: 100px;
}
.two-inputs{
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
}
.create-workout-page form input,
.create-workout-page form select,
.create-workout-page form option{
    height: 40px;
    width: 100%;
    background-color: white;
    color: rgba(0, 0, 0, 0.534);
    padding-left: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
}
.create-workout-page .exercise-creator-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.create-workout-page .exercise-creator{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #1A1A1B;
    padding: 20px 15px;
}
.create-workout-page .exercises-container{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1A1A1B;
    border-radius: 5px;
}
.create-workout-page .exercise-creator-inputs #exerciseName{
    grid-column: 1 / 3;
}

.create-workout-page .exercise-body{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 5px;
}
.create-workout-page .added-exercise .exercise-info{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap :10px;
    flex-direction: row !important;
    justify-content: space-between;
}
.create-workout-page .added-exercise{
    height: 40px;
}
.create-workout-page .exercise-body .exercise-info{
    width: calc(100% - 75px);
    height: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.create-workout-page .exercise-body .exercise-info .exercise-tags{
    display: flex;
    gap: 10px;
    width: 100%;
}
.create-workout-page .exercise-body .exercise-info .exercise-tags p{
    color: rgba(255, 255, 255, 0.329);
}
.create-workout-page .exercise-body .exercise-info .exercise-meta p{
    color: rgba(255, 255, 255, 0.425);
}
.create-workout-page .exercise-body .exercise-sets{
    width: 75px;
}
.tags-block{
    overflow-x: auto;
    max-width: calc(100vw - 30px);
}
.tags-block .tags{
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.create-workout-page .tag-body{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: #1A1A1B;
    flex-shrink: 0;
    white-space: nowrap;
}
.create-workout-page .tag-color{
    height: 100%;
    width: 5px;
}
.create-workout-page img{
    margin-left: auto;
}
.create-workout-page .source-buttons{
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 3px;
    margin-bottom: 10px;
}
.create-workout-page .source-buttons button{
    width: 90px;
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 25px;
}
.create-workout-page .source-buttons button.selected-button{
    background-color: white;
    color: black;
}
.create-workout-page .submit-button{
    position: absolute;
    top: 30px;
    width: 100px;
    height: 40px;
    right: 15px;
}
.exercises-fieldset{
    width: 100%;
}

.screen-selector{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #1A1A1B;
    border-radius: 5px;
    margin: 15px 0;
}
.screen-selector button{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: transparent;
}
.screen-selector .selected-screen-button{
    background-color: white;
    color: black;
}
.selected-screen-container{
    width: 100%;
}