.new-exercise-log{
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 60;
    backdrop-filter: blur(10px);
}
.new-exercise-log .content{
    width: calc(100vw - 20px);
    height: 600px;
    position: absolute;
    bottom: 100px;
    left: 10px;
    background-color: var(--modal-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    animation-name: exerciseLogAnimation;
    animation-duration: 0.1s;
    z-index: 10;
    gap: 10px;
    align-items: center;
    padding: 15px;
}
@keyframes slideUp {
    from{
        height: 0;
    }
    to{
        height: 100vh;
    }
}
.top-bar img{
    width: 30px;
    height: 30px;
    background-color: transparent;
}
.top-bar button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
.top-bar{
    width: 100%;
    height: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
}
input,
select,
option{
    height: 40px;
    flex-shrink: 0;
    border: none;
    background-color: var(--input-bg);
    border-radius: 5px;
    padding-left: 10px;
    color: white;
}

.threeInputs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
}
.timeInput{
    min-width: 0;
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px !important;
}
.selected-target-muscles{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 100px;
    flex-shrink: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.selected-target-muscles .target-muscle{
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: var(--background);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.submit{
    width: 125px;
    border: none;
    background-color: var(--background);
    border-radius: 5px;
    height: 50px;
    margin-top: auto;
    font-size: 18px;
}
.customItemsRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
}
.customItemsRow .customItemsButton{
    width: 100%;
    height: 40px;
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.customItemsRow .customItemsButton h4{
    width: fit-content;
}
.customItemsRow .customItemsButton img{
    width: 15px;
    height: 15px;
}
.fieldsContainer{
    height: 400px;
    overflow: hidden;
}