.exercise-log{
    width: 100%;
    bottom: 75px;
    height: calc(100vh - 75px);
    position: absolute;
    background-color: #1A1A1B;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: rgba(211, 211, 211, 0.3);
    animation-name: exerciseLogAnimation;
    animation-duration: 0.1s;
    z-index: 10;
    gap: 10px;
    align-items: center;
}
@keyframes exerciseLogAnimation {
    0%{
        height: 0;
    }
    100%{
        height: 100vh;
    }
}
.exercise-log .top-bar img{
    width: 30px;
    height: 30px;
    background-color: transparent;
    ;
}
.exercise-log .top-bar button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
.exercise-log .top-bar{
    width: 100%;
    height: 50px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 20px;
}
.exercise-log input,
.exercise-log select,
.exercise-log option{
    width: 90%;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    color: black;
}
.exercise-log .field-creator{
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 20px;
    width: 100%;
    align-items: center;
}
.exercise-log .fields{
    display: flex;
    flex-direction: column;
    width: 90%;

}
.exercise-log .field-body{
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    height: 40px;
}
.exercise-log .large-button{
    margin-top: auto;
    margin-bottom: 20px;
}
.exercise-log .screen-toggle-buttons{
    margin-top: 20px;
    background-color: #111214;
}
.exercise-log .screens-container,
.exercise-log .screen-toggle-buttons{
    width: 90%;
}

