.exercise-log{
    width: 100%;
    bottom: 75px;
    height: calc(100vh - 75px);
    position: absolute;
    background-color: #1A1A1B;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: rgba(211, 211, 211, 0.3);
    animation-name: exerciseLogAnimation;
    animation-duration: 0.1s;
    z-index: 10;
    gap: 20px;
    align-items: center;
    padding: 15px;
    overflow-y: auto;
}
.toggle-buttons-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #111214;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
}
.toggle-button{
    width: calc(100% / 2);
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.selected-button{
    background-color: white;
    color: black;
}
@media (min-width: 800px) {
    .exercise-log{
        width: 500px;
        left: 150px;
        height: 100vh;
        bottom: 0;
        overflow: hidden;
    }

}
@keyframes exerciseLogAnimation {
    0%{
        height: 0;
    }
    100%{
        height: 100vh;
    }
}
.exercise-log .top-bar img{
    width: 30px;
    height: 30px;
    background-color: transparent;
}
.exercise-log .top-bar button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
.exercise-log .top-bar{
    width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.exercise-log input,
.exercise-log select,
.exercise-log option{
    width: 100%;
    height: 40px;
    min-height: 40px;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    color: black;
}
.exercise-log .field-creator{
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 20px;
    width: 100%;
    align-items: center;
}
.exercise-log .fields{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.exercise-log .field-body{
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    height: 40px;
    
}.exercise-log .exercise-main-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 150px;
    min-height: 150px;
}
.exercise-main-info .same-line-space input{
    width: calc(33% - 5px);
}
.exercise-log .large-button{
    margin-top: auto;
    margin-bottom: 20px;
    min-height: 50px;
}
.exercise-log .screen-toggle-buttons{
    margin-top: 20px;
    background-color: #111214;
}
.exercise-log .screens-container,
.exercise-log .screen-toggle-buttons{
    width: 100%;
}
.saved-values-container{
    width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    min-height: 50px;
    overflow-y: auto;
}
.exercise-log h3{
    width: 100%;
}
.saved-field{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111214;
    padding: 5px 10px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 5px;
}
.saved-field-name{
    margin-right: auto;
}
.saved-field-unit{
    min-width: 50px;
    padding: 0 10px;
    text-align: end;
    margin-right: 15px;
}
.saved-fields-container{
    width: 100%;
    overflow-y: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.exercise-log .content{
    width: 100%;
}
