.log-form{
    width: 100%;
    bottom: 0px;
    height: 650px;
    position: absolute;
    background-color: #1A1A1B;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 15;
    animation-name: quickMenuAnimation;
    animation-duration: 0.1s;
    padding: 0 15px;
    gap: 20px;
}
@media (min-width: 800px) {
    .log-form{
        width: 100% !important; 
        height: 100vh !important;
        bottom: 0;
    }

}
@keyframes quickMenuAnimation {
    0%{
        height: 0;
    }
    100%{
        height: calc(100vh - 75px) !important;
    }
} 
.top-bar img{
    width: 30px;
    height: 30px;
    background-color: transparent;
}
.top-bar button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
.top-bar{
    width: 100%;
    height: 50px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.toggle-buttons-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #111214;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
}
.toggle-button{
    width: calc(100% / 3);
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.selected-button{
    background-color: white;
    color: black;
}
.content{
    width: 100%;
    height: 350px;
}

