.log-form{
    width: 100%;
    height: 420px;
    background-color: var(--modal-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    gap: 10px;
    animation: showLogInputs 0.1s;
}
@keyframes showLogInputs {
    0%{
        height: 0;
    }
    100%{
        height: 420px;
    }
} 
.log-form .notLoaded{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 800px) {
    .log-form{
        width: 100% !important; 
        height: 100vh !important;
        bottom: 0;
    }

} 
.top-bar img{
    width: 30px;
    height: 30px;
    background-color: transparent;
}
.top-bar button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
.top-bar{
    width: 100%;
    height: 50px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 20px;
}
.toggle-buttons-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #111214;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
}
.toggle-button{
    width: calc(100% / 3);
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.selected-button{
    background-color: white;
    color: black;
}
.content{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.log-form input,
.log-form textarea{
    height: 50px;
}