.phases{
    width: 100%;
    min-height: 0;
    display: grid;
    grid-template-rows: 40px 1fr;
    align-items: center;
    background-color: var(--secondary);
    position: relative;
    border-radius: 5px;
    z-index: 10;
    overflow: hidden;
    flex-grow: 1;
}
.phaseList{
    display: grid;
    grid-template-columns: 1fr 120px;
    height: 50px;
    width: 100%;
    background-color: var(--secondary);
}
.phaseList .phasesContainer{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}
.phaseList .phaseButtons{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
.selectedPhaseButtons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.phaseList .addPhaseButton{
    background-color: transparent;
    border: none
}
.selectedPhaseButtons button img{
    height: 25px;
    width: 25px;
}
.addPhaseButton img{
    height: 30px;
    width: 30px
}
.phaseButton.selectedButton{
    background-color: white;
    color: black;
}
.phaseButton{
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    background-color: transparent;
}
.phaseContent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.addExerciseButton{
    background-color: var(--background);
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    flex-shrink: 0;
}
.phaseExercise{
    width: 100%;
    padding: 10px;
    background-color: var(--secondary);
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
    flex-shrink: 0;
}
.phaseExercise b{
    margin-right: auto;

}
.phaseExercise button{
    background-color: transparent;
    border: none;
}
.phaseExercise button img{
    width: 25px;
    height: 25px;
}
.phaseBody{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 50px;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}
.phaseBody .phaseExercises{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--background);
    padding: 10px;
    overflow-y: auto;
}
.phaseBody .addExerciseButton{
    margin-top: auto;
}
.phaseBody .phaseButtons{
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}
.phaseBody .modifyPhaseButtons{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.phaseBody .modifyPhaseButtons button img{
    width: 30px;
    height: 30px;
}