nav{
  width: 100vw;
  height: 75px;
  padding-bottom: 15px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: grid;
  align-items: center;
  padding: 0 15px;
  background-color: #18191b;
  z-index: 50;
  grid-template-columns: 1fr 1fr 50px 1fr 1fr;
  border-top: 1px solid black;
}
@media (min-width: 800px) {
  nav{
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
}
.nav-button{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 12px;
}
.nav-button p{
  color: rgba(255, 255, 255, 0.75);
}
.nav-button.center{
  background-color: var(--accent-color);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  transform: translateY(-20px);
  z-index: 50;
}
.nav-button.center img{
  width: 30px;
  height: 30px;
}
.nav-button img{
  height: 20px;
  width: 20px;
  opacity: 0.7;
  background-color: transparent;
}
.center-nav-button{
  width: 28% !important;
  height: 100%;
  z-index: 50;
}


/* Library Menu */

.libraryMenu{
  position: fixed;
  bottom: 75px;
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  animation: slideUp 0.2s;
  z-index: 9999;
}
.libraryMenu .bg{
  width: 100vw;
  height: 100%;
  backdrop-filter: blur(20px);
  z-index: 9999;
}
.libraryMenu .menuContainer{
  position: absolute;
  bottom: 15px; 
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  z-index: 9999;
}
@keyframes slideUp{
  from{
    opacity: 0;
    bottom: -120%;
  }
  to{
    opacity: 1;
    bottom: 75px;
  }
}
  
.libraryMenuBtn img{
  width: 40px;
  height: 40px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--background);
}
.libraryMenuBtn{
  height: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  animation: slideFromRight 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(10px);
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
}
.libraryMenuBtn:nth-child(1){
    animation-delay: 300ms;
}
.libraryMenuBtn:nth-child(2){
    animation-delay: 200ms;
}
.libraryMenuBtn:nth-child(3){
    animation-delay: 100ms;
}
@keyframes slideFromRight {
  from{
      transform: translatey(10px);
      opacity: 0;
  }
  to{
      transform: translateY(0);
      opacity: 1;
  }
    
}




