.stopwatch{
    width: calc(100vw - 20px);
    height: 400px;
    border-radius: 5px;
    background-color: var(--modal-bg);
    border: 1px solid var(--general-border);
    display: grid;
    grid-template-rows: 40px 150px 1fr 50px;
    gap: 20px;
    position: fixed;
    bottom: 85px;
    left: 10px;
    z-index: 150;
}
.stopwatch .header{
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
}
.stopwatch .header button{
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stopwatch .header button img{
    width: 75%;
    height: 75%;
}
.stopwatch .buttons{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
    gap: 20px;
    align-items: center;
}
.stopwatch .buttons button{
    background-color: var(--background);
    border-radius: 5px;
    border: 1px solid var(--general-border);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stopwatch .buttons button img{
    width: 50%;
    height: 50%;
}
.stopwatch .lap{
    display: flex;
    justify-content: space-between;
}
.stopwatch .lap p{
    color: rgba(255, 255, 255, 0.5);
}
.stopwatch .laps{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    max-height: 150px;
    overflow-y: auto;
}
.stopwatch .time{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progressCircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: lightgray;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressCircle::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    transform: rotate(-90deg); /* start from top */
}

.progressInner {
    width: calc(100% - 20px);
    height: calc(100% - 20px);;
    border-radius: 50%;
    background: var(--modal-bg, #1e1e1e);
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.progressInner h3,
.progressInner h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}