.modal{
    position: fixed;
    height: 400px;
    width: 90vw;
    background-color: #111214;
    top: calc(50% - 200px);
    border: 1px solid rgba(0, 0, 0, 0.425);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.modal-title{
    font-size: 2rem;
}

.modal-message{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 0 30px;
    text-align: center;
    color: lightgray;
}




.modal .modal-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.modal .modal-buttons button{
    width: 250px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid transparent;
    font-size: 1.1rem;
    font-weight: bold;
}
.modal .modal-buttons .green-button{
    background-color: #28a745;
}
.modal .modal-buttons .cancel-button{
    background-color: transparent;
    border: 1px solid rgba(211, 211, 211, 0.473);
}
.modal .modal-buttons .ok-button{
    background-color: #007bff;
}