.library{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
@media (min-width: 800px) {
    .library{
        grid-column: 2 / 4;
        padding: 20px 50px;
        width: 100%;
        height: 100%;
    }

}

.header-title{
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.toggle-buttons{
    width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-buttons button{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(221, 221, 221, 0.1);
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
}
.toggle-buttons .selected-button{
    background-color: white;
    color: black;
}
.explore-button p{
    font-size: 1.1rem;
    font-weight: 600;
}


.library .subtitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.library-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 0 10px 0 5px;
    overflow-x: hidden;
}

.item-body{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    text-decoration: none;
    
}
.workout-body{
    height: 80px;
    background-color: #1A1A1B;
    padding: 10px;
    border-radius: 5px;
}
.workout-tags{
    width: 100%;
    display: flex;
    gap: 10px;
    max-width: 100%;
    overflow: hidden;
}
.workout-tag-body{
    height: 20px;
    display: flex;
    gap: 5px;
    border-radius: 5px;
    align-items: center;
}
.workout-tag-name{
    color: white;
    opacity: 0.6;
}

.item-body .item-info{
    height: 100%;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
}
.item-info h4{
    width: 100%;
}
.item-info .item-description{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.item-description p{
    color: rgba(255, 255, 255, 0.6);
}
.browse-button{
    position: fixed;
    bottom: 100px;
    border: 1px solid rgba(211, 211, 211, 0.336);
    width: 150px;
    height: 50px;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 5px;
}

.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.category-button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #1A1A1B;
    border-radius: 5px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid rgba(221, 221, 221, 0.1);
}
.add-button{
    width: 30px;
    height: 30px;
    margin-left: auto;
    background-color: transparent;
    border: none;
}
.add-button img{
    width: 35px;
    height: 35px;
}
.selected-category{
    background-color: white !important;
    color: black !important;
}




/* browse page */
.library-items-container .item-button button{
    background-color: transparent;
    border: 1px solid transparent;
}