/* Library Page */
.library{
    height: calc(100vh - 75px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.library .category{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.library .category .header{
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-decoration: none;
}
.library .category .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--secondary);
    overflow: hidden;
    border-radius: 10px;
}

/* Exercise component */
.library .exercise{
    display: grid;
    grid-template-rows: 2fr 3fr;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--secondary);
    border-radius: 5px;
    height: 75px;
}
.library .exercise .meta p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(225, 225, 225, 0.5);
}
.library .exercise .metaIcon{
    width: 15px;
    height: 15px;
}
.library .exercise .header{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 20px;
}
.library .exercise .header h4{
    width: fit-content;
}
.library .exercise .header .duration{
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    align-items: center;
}
.library .exercise .meta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.library .exercise .tags,
.library .exercise .muscles{
    display: grid;
    grid-template-columns: 15px 1fr;
    align-items: center;
    gap: 5px;
}

/* workout component */
.library .workout{
    display: grid;
    grid-template-rows: 2fr 3fr;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--secondary);
    border-radius: 5px;
    height: 75px;
}
.library .workout .meta p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(225, 225, 225, 0.5);
}
.library .workout .metaIcon{
    width: 15px;
    height: 15px;
}
.library .workout .header{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 30px;
}
.library .workout .header h4{
    width: fit-content;
}
.library .workout .header .exercises{
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    align-items: center;
}
.library .workout .meta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.library .workout .tags,
.library .workout .muscles{
    display: grid;
    grid-template-columns: 15px 1fr;
    align-items: center;
    gap: 5px;
}