.default-fields{
    width: 100vw;
    height: calc(100vh - 60px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.default-fields .fields-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.field{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary);
    display: grid;
    grid-template-columns: 1fr 40px;
}
.deleteFieldButton{
    background-color: transparent;
    border: none;
    width: 40px;
}
.field .fieldInfo{
    display: flex;
    flex-direction: column;
}
.field h3{
    margin-bottom: 10px;
}

.newCustomField{
    position: fixed;
    bottom: 85px;
    left: 10px;
    width: calc(100vw - 20px);
    background-color: var(--modal-bg);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: slideUp 0.1s;
}
@keyframes slideUp {
    from{
        bottom: -120%;
        opacity: 0;
    }
    to{
        bottom: 85px;
        opacity: 1;
    }
}
.newCustomField .row-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.newCustomField .save,
.newCustomField .cancel{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--accent-color);
}
.newCustomField .cancel{
    background-color: var(--background);
}
