.sideMenu{
    width: 90vw;
    height: calc(100vh - 75px);
    overflow: hidden;
    position: fixed;
    z-index: 100;
    bottom: 75px;
    left: 0;
    animation: showSettings 0.1s;
    animation-fill-mode: forwards;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
@keyframes showSettings {
    from{
        width: 0;
    }
    to{
        width: 90vw;
    }
}

.sideMenu .top{
    height: 100px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid rgba(211, 211, 211, 0.2);
}
.sideMenu .top h3{
    font-weight: normal;
}
.sideMenu .top p{
    color: rgba(255, 255, 255, 0.6);
}
.sideMenu .top a{
    margin-left: auto;
}
.sideMenu .menuIcon{
    height: 30px;
    width: 30px;
}
.sideMenu .profileImage{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.sideMenu .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sideMenu .menuButton{
    width: 100%;
    height: 40px;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    font-size: 18px;
}
.sideMenu .menuButton img{
    width: 20px;
    height: 20px;
    opacity: 0.6;
}
.sideMenu .bottom{
    margin-top: auto;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid rgba(211, 211, 211, 0.2);
}
.sideMenu .bottom .closeButton{
    margin-left: auto;
}








.tags-page.custom-items-page{
    display: flex;
    flex-direction: column;
}

.custom-elements{
    gap: 10px;
    flex-direction: column;
    height: 100%;
}

.items-container{
    height: 50px;
    overflow: hidden;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.1s;
}
.items-container.show-default{
    height: 100%;
    transition: all 0.1s;
}
.container-header{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 0.1s;
}

.equipment{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
}
.equipment.selected-equipment{
    background-color: rgba(211, 211, 211, 0.1);
}
.equipment h4{
    margin-right: auto;
}
.menu{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}
.menu-button{
    background-color: transparent;
    border: none;
}





.equipment-form{
    width: calc(100vw - 30px);
    height: 400px;
    position: absolute;
    bottom: 100px;
    left: 15px;
    display: flex;
    flex-direction: column;
    background-color: #282929;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    align-items: center;
}
.form-top{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.new-attribute{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 50px;
    gap: 10px;
}
.attributes-container{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-color: #111214;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.submit-equipment-button{
    width: 150px;
    height: 40px;
    background-color: #EB5928;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(211, 211, 211, 0.1);
}
.equipment-form label{
    width: 100%;
    margin-top: 10px;
}
.attribute-body{
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 40px;
    min-height: 40px;
    gap: 15px;
}
.attribute-body h4{
    margin-right: auto;
}