.settings{
    padding: 10px;
    height: calc(100vh - 75px);
    width: 100vw;
    position: relative;
    
}
.settings-container{
    margin-top: 20px;
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.settings-container button{
    text-decoration: none;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid rgba(211, 211, 211, 0.15);
    padding: 5px 0 10px 5px;
    background-color: transparent;
    text-align: start;
}