.icon-picker{
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    padding: 15px 10px;
    border-radius: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    animation-name: slideInModal;
    animation-duration: 0.1s;
    z-index: 50;
}
@keyframes slideInModal {
    from{
        bottom: -120%;
        opacity: 0;
    }
    to{
        bottom: 0;
        opacity: 1;
    }
}
.top{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.selected-icon{
    height: 30px;
    width: 30px;
}
.close-button{
    background-color: transparent;
    border: none;
}
.container{
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 5px;
}
.icon-button{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: none;
    border: 1px solid transparent;
    border-radius: 5px;
}
.icon{
    width: 30px;
    height: 30px;
}
.icon-button.selected{
    background-color: rgba(221, 221, 221, 0.1);
}

.save-icon-button{
    height: 50px;
    width: 150px;
    border: 1px solid rgba(221, 221, 221, 0.1);
    border-radius: 5px;
    background-color: var(--secondary);
}
