.importExercises{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30px 1fr 75px;
    gap: 10px;
    overflow: hidden;
}
.exercisesContainer{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
