.icon-picker{
    position: absolute;
    left: 0px;
    z-index: 9;
    background-color: #1A1A1B;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(211, 211, 211, 0.486);
    padding: 0;
    margin: 0;
    transition: all 0.2s;
}
.expand-icon-picker{
    width: 90vw;
    height: 150px;
    transition: all 0.2s;
}
.icon-picker .icon{
    width: 30px;
    height: 30px;
}
.icon-picker .top{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(211, 211, 211, 0.432);
    gap: 20px;
}
.icon-picker button{
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icon-picker .bottom{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 5px;
}



.icon-picker .icon-button{
    width: 50px;
    height: 50px;
}