.log-form-body{
    width: 100%;
    bottom: 0px;
    height: 100vh !important;
    position: absolute;
    background-color: #1A1A1B;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: rgba(211, 211, 211, 0.3);
    z-index: 15;
    animation-name: quickMenuAnimation;
    animation-duration: 0.1s;
}
@keyframes quickMenuAnimation {
    0%{
        height: 0;
    }
    100%{
        height: 100vh !important;
    }
}
.log-form-body .top-bar img{
    width: 30px;
    height: 30px;
    background-color: transparent;
    filter: invert(100%);
}
.log-form-body .top-bar button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
.log-form-body .top-bar{
    width: 100%;
    height: 50px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.log-form-body .goal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
}
.log-form-body .inputs{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
.log-form-body .inputs input{
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    padding-left: 20px;
    box-sizing: border-box;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.log-form-body .inputs button{
    height: 50px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #111214;
    width: 30%;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    
}
.log-form-body .submit-button{
    width: 150px;
    height: 50px;
    margin-top: auto;
    margin-bottom: 30px;
}

.progress-section{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.log-form-body .goal-logs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 90%;
    height: 30%;
    background-color: #111214;
    padding: 20px 15px;
    overflow-y: auto;
}
.log-form-body .goal-logs-container .log-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(211, 211, 211, 0.226);
    padding-bottom: 10px;
}