.quick-menu{
    width: 100%;
    padding: 25px 10px;
    background-color: #1A1A1B;
    border: 1px solid rgba(211, 211, 211, 0.2);
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    gap: 15px;
    align-items: start;
    flex-wrap: wrap;
    z-index: 15;
    border-radius: 5px;
}
@media (min-width: 767px) {
    .quick-menu{
        width: 50% !important; 
        margin-left: 25%;
    }

}

.quick-menu .quick-button img{
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-left: 15px;
}
.quick-menu-screen{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.quick-menu .quick-button{
    width: calc(50% - 10px);
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #111214;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}
.quick-menu button p{
    flex-grow: 1;
}
.quick-menu h1,
.quick-menu h2{
    width: 100%;
    display: flex;
    align-items: center;
}
.quick-menu h2{
    height: 40px;
}
#quick-menu-close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
}
#quick-menu-close-btn img{
    width: 30px;
    height: 30px;
}
.new-items-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-items-buttons a{
    width: calc(50% - 5px);
}


/* manage goals screen */
.quick-menu-screen .goal-body{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
}
.quick-menu-screen .goal-body p{
    width: 25%;
}
