.quick-menu{
    width: 100%;
    height: 80vh;
    padding: 25px 10px;
    background-color: #1A1A1B;
    border: 1px solid rgba(211, 211, 211, 0.2);
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    z-index: 15;
    border-radius: 5px;
    animation-name: quickMenuAnimation;
    animation-duration: 0.1s;
}
@keyframes quickMenuAnimation {
    0%{
        height: 0;
    }
    100%{
        height: 80vh;
    }
}
.quick-menu .quick-button img{
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-left: 15px;
}
.quick-menu .quick-button{
    width: calc(50% - 10px);
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #111214;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}
.quick-menu button p{
    flex-grow: 1;
}
.quick-menu h1,
.quick-menu h2{
    width: 100%;
}
#quick-menu-close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
}
#quick-menu-close-btn img{
    width: 30px;
    height: 30px;
}