.dashboard{
    padding: 25px;
}

.icon-30{
    background-color: transparent;
    width: 30px;
    height: 30px;
}
.transparent-bg{
    background-color: transparent;
    border: none;
}
.mb-25{
    margin-bottom: 25px;
}





