.dashboard{
    padding: 25px;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #111214;
}
@media (min-width: 800px) {
  #root{
    display: grid;
    height: 100vh;
    grid-template-columns: 150px 1fr 1fr;
  }
}
.icon-30{
    background-color: transparent;
    width: 30px;
    height: 30px;
}
.transparent-bg{
    background-color: transparent;
    border: none;
}
.mb-25{
    margin-bottom: 25px;
}
#root{
    background-color: #111214;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
  }
  html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .clear-button{
    background-color: transparent;
    border: 1px solid transparent;
  }
  /* navigation */
  
  
  
  
  
  /* common classes */
  .hide{
    display: none;
  }
  
  .header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .header .date{
    color: rgba(255, 255, 255, 0.5);
  }
  .header h2{
    margin-top: 0;
  }
  .border-bottom{
    border-bottom: 1px solid rgba(211, 211, 211, 0.1);
    padding-bottom: 10px;
  }
  .orange-button{
    background-color: #EB5928;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .orange-background{
    background-color: #EB5928;
  }
  
  .page{
    background-color: #111214;
    height: calc(100vh - 75px);
    overflow-y: auto;
    width: 100vw;
    padding: 20px 15px;
    position: relative;
    overflow-x: hidden;
  }
  @media (min-width: 800px) {
    .page{
      width: calc(100vw - 150px)
    }
  }
  .danger{
    background-color: #FF0000;
  }
  
  .input{
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid transparent;
  }
  .full-width{
    width: 100%;
  }
  .half-width{
    width: calc(50% - 10px);
  }
  .large-button{
    width: 150px;
    height: 50px;
  }
  .medium-button{
    width: 100px;
    height: 50px;
  }
  .small-square{
    height: 30px;
    width: 30px;
  }
  .medium-square{
    height: 50px;
    width: 50px;
  }
  .big-square{
    width: 75px;
    height: 75px;
  }
  .huge-square{
    width: 100px;
    height: 100px;
  }
  .medium-icon{
    width: 50px;
    height: 50px;
  }
  .small-icon{
    width: 25px;
    height: 25px;
  }
  
  .accent-color{
    color: #EB5928;
  }
  .white-50{
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .mb-5{
    margin-bottom: 5px;
  }
  .mb-10{
    margin-bottom: 10px;
  }
  .mb-25{
    margin-bottom: 25px;
  }
  .mb-50{
    margin-bottom: 50px;
  }
  .bg-1{
    background-color: #111214;
  }
  .bg-2{
    background-color: #1A1A1B;
  }
  .section{
    background-color: #1A1A1B;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 10px;
  }
  .flex-column{
    display: flex;
    flex-direction: column;
  }
  .flex-row{
    display: flex;
    flex-direction: row;
  }
  .space-evenly{
    justify-content: space-evenly;
  }
  .space-between{
    justify-content: space-between;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }
  .left-arrow{
    transform: rotateY(180deg);
  }
  
  
  
  
  
  
  
  
  
  
  
  /* Activity page */
  
  
  
  
  
  
  
  
  
  
  
  
  /* message modal */
  
  .message-modal{
    height: 100px;
    width: 90%;
    position: absolute;
    bottom: 80px;
    border-radius: 5px;
    border: 1px solid rgba(109, 109, 109, 0.418);
  }
  .message-modal h3{
    height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.363);
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  .message-modal .message-modal-text{
    padding: 10px;
  }
  .message-modal.success{
    background-color: #28a745;
  }
  .message-modal.fail{
    background-color: #F44336;
  }
  .message-modal.warning{
    background-color: #FFC107;
  }
  
  
  
  
  
  
  /* color picker */
  
  .color-picker{
    position: absolute;
    overflow: hidden;
    left: 5px;
    width: 40px;
    height: 40px;
    background-color: #1A1A1B;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    transition: all 0.1s;
  }
  .color-picker .color-button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid transparent;
  }
  .color-picker-header{
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .color-picker .colors-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .extended-color-picker{
    width: 90% !important;
    height: 200px !important;
    transition: all 0.1s;
  }
  
  /* custom item creator */
  
  .custom-item-creator{
    width: 100%;
    height: 50px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  .custom-item-input{
    width: 100%;
  }
  
  .custom-item-creator button{
    width: 50px;
    height: 50px;
  }
  .custom-item-creator input{
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: black;
    font-size: 1.1rem;
  }
  .custom-item-creator img{
    width: 40px;
    height: 40px;
  }



.screen-toggle-buttons{
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1A1A1B;
  border-radius: 5px;
}
.screen-toggle-buttons button{
  height: 100%;
  width: 50%;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.1rem;
  border-radius: 5px;
}
.screen-toggle-buttons > button:nth-child(1){
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;    
}
.screen-toggle-buttons > button:nth-child(2){
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;   
}
.screen-toggle-buttons button.selected-button{
  background-color: white;
  color: black;
  border-radius: 5px;
}
.screens-container{
  width: 100%;
  flex: 1;
  overflow-x: hidden;
}
.screens-container .screen{
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.1s;
}
.screens-container .screen.left{
  float: left;
  animation: slideScreen 0.1s;
}
.screens-container .screen.right{
  float: right;
  animation: slideScreen 0.1s;
}

@keyframes slideScreen {
  from{
      width: 0;
      
  }
  to{
      width: 100%;
  }
}



.one-line-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* used to rotate arrow that is default pointed to the right */
.left{
  transform: rotateZ(180deg);
  transition: all 0.1s;
}
.down{
  transform: rotateZ(90deg);
  transition: all 0.1s;
}
.same-line-space{
  display: flex;
  align-items: center;
  justify-content: space-between;
}









/* themes */
 

:root{
  --background: #111214;
  --secondary: #1A1A1B;
  --text-color: white;
  --accent-color: #EB5928;
  --dashboard-module-background: #1A1A1B;
  --dashboard-module-container: #111214;
  --quick-menu-button-background: #EB5928;
  --quick-menu-button-text: white;
  --general-border: rgba(221, 221, 221, 0.1);
  --toggle-button-background: #1A1A1B;
  --toggle-button-active: white;
}