.contextual-menu{
    position: fixed;
    bottom: 75px;
    width: 100vw;
    background-color: #1a1a1b;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    animation: slideUpMenu 0.1s;
    border-top: 1px solid rgba(255, 255, 255, 0.26);
    border-radius: 5px;
}
.contextual-menu .buttons button,
.contextual-menu .buttons a,
.contextual-menu .close-button{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 1.3rem;
}
.contextual-menu .close-button{
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid rgba(211, 211, 211, 0.164);
}

@keyframes slideUpMenu {
    from{
        bottom: calc(-100% - 100px);
    }
    to{
        bottom: 0px;
    }
}