.quick-menu{
    width: 100%;
    height: 170px;
    position: fixed;
    bottom: 75px;
    left: 0px;
    display: flex;
    flex-direction: column;
    z-index: 15;
    border-radius: 5px;
    animation: quickMenuOpenUp 0.2s;
    gap: 10px;
    overflow: hidden;
    background-color: #1A1A1B;
    border-top: 1px solid var(--general-border);
}
.quick-menu .buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.quick-menu .header{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.quick-menu .quick-button{
    width: 25%;
    height: 100px;
    padding: 0 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--quick-menu-button-text);
    align-items: center;
    justify-content: center;
    background-color: var(--quick-menu-button-background);
    border: none;

}
.quick-menu .close-button{
    font-size: 20px;
}
.quick-menu .quick-button p{
    font-size: 20px;
    font-weight: 500;
}
.quick-menu .quick-button img{
    width: 30px;
    height: 30px;
}




@keyframes quickMenuOpenUp {
    from{
        height: 0;
        opacity: 0;
        bottom: -110%;
    }
    to{
        height: 170px;
        opacity: 1;
        bottom: 75px;
    }
}

@media (min-width: 767px) {
    .quick-menu{
        width: 50% !important; 
        margin-left: 25%;
    }

}