.quick-menu{
    width: 100vw;
    height: calc(100vh - 60px);
    position: fixed;
    bottom: 75px;
    left: 0px;
    display: flex;
    flex-direction: column;
    z-index: 15;
    animation: quickMenuOpenUp 0.2s;
    overflow: hidden;
}
.quick-menu img{
    width: 30px;
    height: 30px;
}
.quick-menu .menuBg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 16;
}
.quick-menu .content{
    z-index: 200;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--modal-bg);
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(211, 211, 211, 0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 10px;
}
.quick-menu .content .buttonsContainer{
    background-color: var(--background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.quick-menu .pinsContainer{
    height: 50px;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 10px;
    border-radius: 10px;
    background-color: var(--background);
    padding: 5px 10px;
}
.quick-menu .pinnedGoal{
    height: 40px;
    width: auto;
    min-width: calc(50% - 5px);
    max-width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.quick-menu .pinnedGoal p{
    width: 100%;
}
.quick-menu .pinnedGoal:first-child{
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.quick-menu .pinnedGoal img{
    width: 30px;
    height: 30px;
}
.quick-menu .quick-button{
    width: 100%;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    gap: 20px;
    text-align: start;
    background-color: transparent;
    height: 50px;
    border: none;
    align-items: center;
    padding: 5px 10px;
}

@keyframes quickMenuOpenUp {
    from{
        opacity: 0;
        bottom: -110%;
    }
    to{
        opacity: 1;
        bottom: 75px;
    }
}

